* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,:active {outline: none;}
a:focus,a:active {outline: none;}

nav,footer,header,aside {display: block;}

html,body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html { width:100vw; overflow-x:hidden; }

input,button,textarea {font-family: inherit;}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul, ol, li {list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}

#root {
  height: 100%;
}


html {
  height: 100%;
}
body {
  height: 100%;
  font-size: 20px;
  font-family: 'Roboto';

  background: url("./assets/mesh-gradient 1.png"); /* Путь к картинке */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}
.wrapper {
  display: flex;
	flex-direction: column;
	min-height: 100%;
}
body::before {
  content: "";
    
}

a {
  color: black;
}

main {
  flex: 1 0 auto;
}



/* Header */
.header {
  height: 61px;
  background: rgba(238, 246, 252, 1);
  margin-bottom: 188px;
  display: flex;
}
.header__nav {
  display: flex;
  align-items: center;
  height: 61px;
  flex-grow: 1;
  justify-content: center;
  margin-right: 100px;
}
.header__nav-group {
  display: flex;
  margin-right: 77px;
}
.header__group-link {
  margin-right: 99px;
  color: #575455;
}
.header__group-link-active {
  color: #000;
  text-decoration: underline; /* в макете такого нет */
}
.header__group-link_logo {
  color: #27729A;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
}
.header__group-link_logo::before {
  content: '';
  display: inline-block;
  width: 44px;
  height: 44px;
  /* border: 1px solid #000; */
  background-image: url('./assets/_logo _urj 2.svg');
  background-color:  #000;
  margin-right: 10px;
}

.header__group-link:hover {
  color: #000;
}
.header__group-link:last-child {
  margin-right: 0;
}
.header__nav-group:nth-child(3) {
  margin-right: 0px;
}
.header__languages {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
.header__languages img {
  display: block;
  width: 31px;
}
.header__languages img:first-child {
  margin-right: 10px;
  /* margin-left: 235px; */
}






/* Footer */
.footer {
  height: 53px;
  flex: 0 0 auto;
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
}
.footer__text {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 100;
  line-height: 23px;
  letter-spacing: 0em;
  margin: 0 auto;
}






/* Main Page */
.main {
  width: 884px;
  margin: 0 auto;
  padding-top: 166px;
  position: relative;
  padding-bottom: 28px;
  margin-bottom: 67px;
  background-color: #FFF;
}
.main__container {
  width: 828px;
  margin: 0 auto;
  
}
.main__title {
  position: absolute;
  margin: 0 auto;
  width: 828px;
  margin-bottom: 36px;
  top: -110px;
}
.main__title-line {
  font-family: Roboto;
  font-size: 86px;
  font-weight: 700;
  line-height: 101px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: -30px;
}
.main__title-line:first-child {
  margin-top: 0px;
}
.main__title-line:last-child {
  margin-left: 273px;
}
.main__paragraph {
  margin-bottom: 86px;
}
.main__paragraph:last-child {
  margin-bottom: 0px;
}






/* Paragaph */
.paragraph {
  padding-right: 45px;
}
.paragraph__title {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 36px;
}
.paragraph__title p {
  margin: 0 6px;
}
.paragraph__title::after {
  content: "";
  display: block;
  border-bottom: 1px solid #000;
}
.paragraph__text {
  margin-bottom: 35px;
  margin-left: 28px;
  margin-right: 60px; 
}
.paragraph__text:last-child {
  margin-bottom: 0;
}
.paragraph__text p {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;

  margin-bottom: 35px;
  margin-left: 20px;
}
.paragraph__number {
  background-color: #EEF6FC;
  padding: 0 4px 0 7px;
  border-radius: 8px;
}
.paragraph__text p:last-child {
  margin-bottom: 0px;
}
.paragraph__list {
  margin-left: 90px;
}
.paragraph__list-ol {
  counter-reset: ol-numbers;
  margin-left: 83px;
}
.paragraph__list-ol .paragraph__item {
  position: relative;
  padding: 0 0 0 50px;
}
.paragraph__list-ol .paragraph__item::before {
  counter-increment: ol-numbers;
  content: counter(ol-numbers) '.';
  position: absolute;
  left: 0;
  top: 0;
  background: #EEF6FC;
  height: 23px;
  padding: 0 4px 0 7px;
  border-radius: 8px;
}
.paragraph__list-ul {

}
.paragraph__list-ul li {
  margin-left: 47px;
}
.paragraph__list-ul li::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url('./assets/Ellipse 8.svg');
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 33px;
  margin-left: -47px;
}

.paragraph__item {
  margin-bottom: 30px;
}
.paragraph__text_list {
  margin-left: 90px;
}
.paragraph__text_list p {
  margin-left: 0;
}






.editors {

}
.editors__editor {

}
.editor {
  margin-bottom: 67px;
}
.editor__title {
  margin-bottom: 20px;
}
.editor__block {
  display: flex;
  align-items: center;
  margin-left: 25px;
  
}
.editor__image {
  margin-right: 18px;
}
.editor__image:hover {
  opacity: 0.85;
}
.editor__image img {}
.editor__description {
  
}
.editor__name {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.editor__workplace {
  color: #575455;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.editors__board {
  
}
.editors__board-title{
  margin-bottom: 20px;
}
.editors__board-container {
  display: flex;
  flex-wrap: wrap;
  gap: 44px 124px;
  margin: 0 25px;
}
.editors__board-element {
  width: 175px;
}
.editors__board-image {
  margin-bottom: 10px;
}
.editors__board-image:hover {
  opacity: 0.85;
}
.editors__board-image img {}
.editors__board-name {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}






/* Editor page */
.editor {}
.editor-page {}
.editor-page__block {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.editor-page__image {
  margin-right: 50px;
}
.editor-page__image img {}
.editor-page__description {}
.editor-page__name {
  color: #000;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 3px;
  
}
.editor-page__workplace {
  color: #575455;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* margin-left: 13px; */
}
.editor-page__email-block {
  /* display: flex; */
  margin-bottom: 46px;
  margin-left: 34px;
  margin-right: 87px;
}
.editor-page__email-block::after {
  content: '';
  display: block;
  margin-top: 17px;
  border-bottom: 1px solid #000;
}
.editor-page__email-block-container {
  display: flex;
  padding: 0 22px;
}
.editor-page__scopus {
  color: #575455;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  border-radius: 8px;
  background: #EEF6FC;  
  padding: 0 7px;
  margin-right: 47px;
}
.editor-page__email {
  color: #000;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  border-radius: 8px;
  background: #EEF6FC;  
  padding: 0 7px;
  margin-right: 47px;
}
.editor-page__text {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 30px */
}
.editor-page__text p {
  margin-bottom: 40px;
}
.editor {}
.editor {}





/* SideBar */
.sidebar {
  width: 364px;
  position: absolute;
  top: 0;
  left: -393px;
}
.about__sidebar {
  
}
.sidebar__image {
  width: 358px;
  margin: 0 auto;
  margin-bottom: 10px;
  
}
.sidebar__image img {
  margin: 0 auto;
}
.sidebar__button {
  width: 364px;
  height: 54px;
  top: 811px;
  left: 123px;
  border-radius: 3px;
  background: #27729A;

  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-bottom:  41px;
}
.sidebar__text {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin-bottom: 12px;
}
.sidebar:last-child {
  margin-bottom: 0px;
}





.title {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  /* margin-bottom: 20px; */
}
.title p {
  margin: 0 6px;
}
.title::after {
  content: "";
  display: block;
  border-bottom: 1px solid #000;
}
